<div class="splash pure-u-1">
  <div class="pure-g-r">
    <div class="pure-u-1-3">
      <div class="l-box splash-image">
        <%= image_tag "cover.png" %>
      </div>
    </div>

    <div class="pure-u-2-3">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          About this project
        </h1>

        <h2 class="splash-subhead">
          Why, you ask. Why not, we say. We love graphs, we love insights, we use Whatsapp. Now we track usage for the hell of it. This project isn't an official Whatsapp project. None of your data is stored - we wouldn't even want that responsibility!
        </h2>

      </div>
    </div>
  </div>
</div>

<div class="pure-u-1">
  <div class="l-box">
    <h2>More about...</h2>
    <p>
      Hacked together on a cloudy evening using Ruby, Made available to the world via Ruby on Rails, Google Charts, Yahoo's Pure CSS library and Heroku. Made by <%= link_to "Pawel Janiak", "www.paweljaniak.co.za/?utm_source=chat_analyzer&utm_medium=about_page&utm_campaign=curiousity" %> who is slightly ashamed of the ducktape and staples holding all of this code together, but couldn't really be arsed to make it better. Feel free to fork, modify and inspect the code if you want.
    </p>
    <p>
      If you are somebody from Whatsapp and you're overtly unhappy with this project, its name, or anything please get in touch.
    </p>
  </div>
</div>