<div class="header pure-u-1">
  <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <%= link_to "Whatsapp chat analyzer", root_path, class: "pure-menu-heading" %>

    <ul>
      <li><%= link_to "Example", example_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Code on Github", "https://github.com/pawel2105/whatsapp_analyzer" %></li>
    </ul>
    <li>
    	<a href="https://twitter.com/share" class="twitter-share-button" data-via="cynicalgrinch">Tweet</a>
    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  	</li>
  </div>
</div>