<div class="header pure-u-1">
  <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <%= link_to "Whatsapp chat analyzer", root_path, class: "pure-menu-heading" %>

    <ul>
      <li><%= link_to "Example", example_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Code on Github", "https://github.com/pawel2105/whatsapp_analyzer" %></li>
    </ul>
  </div>
</div>