/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.fork_me {
  z-index:999;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.graph {
  width:400;
  height:300;
  display: relative;
  float:left;
}

.long {
  width: 100%;
  letter-spacing: 0;
}

.centered_header {
  vertical-align: middle;
  padding-right: 0.5em;
}

#flash_error {
  width: 100%;
  background: red;
  padding-top: 5em;
  padding-bottom: 2em;
  letter-spacing: 0;
  text-align: center;
}

body {
  margin: 0 auto;
  line-height: 1.7em;
  font-family: 'Karla', sans-serif;
}

h3 {
  text-align: center;
  letter-spacing: 0!important;
}

p {
  text-align: justify;
  padding-right: 2em;
  padding-left: 0.5em;
}

.l-box {
  padding: 1em;
}

.info {
  text-align: center;
}

.header {
  margin: 0 0;
}

  .header .pure-menu {
    padding: 0.5em;
  }

    .header .pure-menu li a:hover {
      background: none;
      border: none;
      color: #aaa;
    }

body .primary-button {
  background: #02a6eb;
  color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
  margin: 3em;
  border-bottom: 1px solid #eee;
}

.ribbon {
  background: #eee;
  text-align: center;
  padding: 2em;
  color: #999;
}
  .ribbon h2 {
  display: inline;
  font-weight: normal;
  }

.footer {
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}
