<div class="content pure-u-1">
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-7-8">
      <div class="l-box">
      	<h4 class="content-subhead">Example report</h4>
      	<p>
          This is an example of the kind of report you will get after uploading your file. There are 3 pie charts, one for each of the words or phrases you submitted, a column chart of the frequency of swearword messages from each chat participant, a messages-per-user chart, as well as a graph with the most frequent words used.
          <br /><br />
          <%= link_to "See your stats", new_stat_path, class: "pure-button primary-button" %>
				</p>
			</div>
    </div>
  </div>
</div>

<%= render 'graphs' %>
<%= render 'js_tags' %>