<div class="content pure-u-1">
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-7-8">
      <div class="l-box">
      	<h4 class="content-subhead">Your report</h4>
      	<p>
          This is the report of your uploaded conversation file. You can hover over each line, section or column to view the details, or you can click on them to select them. If you can't see any graphs, ensure you have JavaScript enabled and reload the page.
          <br /><br />
          Tested with Android and iOS output files on Firefox 21, Chrome 27, Opera 12 and Safari 6. If this breaks for you, please copy the first line in your text file and tweet it to <%= link_to "Pawel", "http://www.twitter.com/cynicalgrinch" %>.
        </p>
			</div>
    </div>
  </div>
</div>

<%= render 'graphs' %>
<%= render 'js_tags' %>